body {
  background: linear-gradient(to right, #B993D6, #8CA6DB); }

header {
  color: #6c757d; }

* {
  margin: 0;
  padding: 0; }

.icon1 {
  color: #fffcf7;
  font-size: 30px;
  right: 90%;
  top: 110%; }
  .icon1:hover {
    color: black;
    background-color: transparent; }

.icon2 {
  color: #fffcf7;
  font-size: 30px;
  top: 90%;
  left: 47%; }
  .icon2:hover {
    color: black;
    background-color: transparent; }

.botonDeInicio, .opciones, .opciones4 {
  color: #6c757d;
  border: none;
  font-size: 20px;
  box-shadow: none;
  background: transparent;
  font-family: 'Urbanist', sans-serif; }

.icon10 {
  font-size: 18px;
  color: #283845; }
  .icon10:hover {
    color: #fffcf7; }

.opciones, .opciones4 {
  font-size: 15px;
  text-decoration: none; }
  .opciones:hover, .opciones4:hover {
    color: #fffcf7; }

.efecto {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.095);
  transition: all 300ms;
  background-color: transparent; }
  .efecto:hover {
    transform: scale(1.05);
    opacity: 75%; }

.illustracion {
  width: 500px;
  right: 10%;
  top: 25%; }

#galletita {
  transform: translate(10%);
  animation-name: movimiento;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; }

@keyframes movimiento {
  0% {
    transform: translateY(-8%) translateX(2%); }
  100% {
    transform: translateY(1%); } }

.lugar {
  color: #283845;
  font-size: 15px;
  font-family: 'Urbanist', sans-serif; }

.icon7 {
  color: #6c757d;
  font-size: 30px;
  transition: 0s 2ms ease;
  animation-name: avion;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; }

.icon7:hover {
  color: #ffccd5; }

@keyframes avion {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateY(50%) translateY(25%); } }

.footer-s {
  color: #283845;
  top: 58%;
  font-family: 'Urbanist', sans-serif; }
  .footer-s:hover {
    color: #283845; }

.footer-Seguinos {
  color: #283845;
  font-size: 18px;
  font-family: 'Urbanist', sans-serif; }

.footer-c {
  color: #283845;
  font-size: 15px;
  font-family: 'Urbanist', sans-serif; }

.textoOpc {
  cursor: pointer; }

.textoIndx {
  font-family: 'Urbanist', sans-serif; }

.mediaMenu {
  font-family: 'Urbanist', sans-serif; }

.texto {
  color: #6c757d; }
  .texto:hover {
    color: #283845; }

.textoCyR {
  color: #283845;
  padding: 10px 25px;
  text-decoration: none;
  transition: 0.2s;
  font-family: 'Urbanist', sans-serif; }
  .textoCyR:hover {
    background: #c8b6ff;
    transition-delay: 0.2s;
    color: #fffcf7; }

.header_menu {
  color: #283845;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Francois One', sans-serif; }
  .header_menu:hover {
    color: white; }

.fondo {
  background-color: #f3c4fb; }

.fondo2 {
  background-image: url(../imagenes/macarons.jpg);
  background-size: cover; }

.fondo3 {
  background-image: url(../imagenes/masitas.jpg);
  background-size: cover; }

.fondo4 {
  background-image: url(../imagenes/pasteleriajpg.jpg);
  background-size: cover; }

.fondo5 {
  background-image: url(../imagenes/reposteria3.jpg);
  background-size: cover; }

.fuente {
  font-family: 'Noto Sans', sans-serif; }

.botonDePedido {
  background-color: #283845;
  border: none;
  width: 150px;
  transition: 0 5ms ease; }
  .botonDePedido:hover {
    color: #283845;
    background-color: transparent; }

.botonDeSi {
  background-color: #283845;
  color: #6c757d; }
  .botonDeSi:hover {
    color: #6fffe9;
    background-color: #283845; }

.botonDeNo {
  background-color: #283845;
  color: #6c757d;
  border: none; }
  .botonDeNo:hover {
    color: #6fffe9;
    background-color: #283845; }

.botonEnviar {
  background-color: transparent; }

.efectoTexto:hover {
  color: #ffccd5;
  cursor: pointer; }

.textoCategorias {
  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
  color: #fffcf7; }
  .textoCategorias:hover {
    color: #fffcf7; }

@media (min-width: 350px) {
  .header_menu {
    font-size: 10px;
    text-align: center;
    visibility: hidden; }
  header {
    font-size: 10px; }
  .logoTarjeta {
    width: 48px; }
  .lugar {
    text-align: center; }
  .footer-c {
    text-align: center; }
  .textoIndx {
    font-size: 10px; }
  .imagenes-index {
    width: 15%; }
  .imagenKeep {
    width: 50%;
    text-align: center; }
  .textoUbicacion {
    font-size: 12px; }
  .illustracion {
    width: 300px;
    text-align: center; }
  .logoMercadoPago {
    width: 25%; }
  .botonDePedido {
    width: 110px;
    font-size: 12px; }
  .icon7 {
    font-size: 25px; }
  .form-select {
    font-size: 15px; }
  .logoLg {
    width: 20%; }
  .dropdown {
    padding: 0;
    margin: 0;
    top: -80%;
    text-align: center; }
  .textoCyR {
    visibility: hidden; }
  .textoCategorias {
    font-size: 15px; }
  .imagenFondo {
    width: 50%; }
  .nombreLogo {
    width: 30%; } }

@media (min-width: 500px) {
  .header_menu {
    font-size: 10px;
    text-align: center;
    visibility: hidden; }
  header {
    font-size: 10px; }
  .logoTarjeta {
    width: 48px; }
  .logoMercadoPago {
    width: 30%; }
  .lugar {
    text-align: center; }
  .footer-c {
    text-align: center; }
  .textoIndx {
    font-size: 12px; }
  .imagenes-index {
    width: 15%; }
  .imagenKeep {
    width: 50%;
    text-align: center; }
  .textoUbicacion {
    font-size: 12px; }
  .illustracion {
    width: 300px;
    text-align: center; }
  .logoMercadoPago {
    width: 25%; }
  .botonDePedido {
    width: 110px;
    font-size: 12px; }
  .icon7 {
    font-size: 25px; }
  .form-select {
    font-size: 15px; }
  .logoLg {
    width: 20%; }
  .dropdown {
    padding: 0;
    margin: 0;
    top: -80%;
    text-align: center; }
  .textoCyR {
    visibility: hidden; }
  .icon10 {
    justify-content: center; }
  .imagenFondo {
    width: 30%; } }

@media (min-width: 768px) {
  header {
    font-size: 15px; }
  footer {
    font-size: 14px; }
  .logoTarjeta {
    width: 64px; }
  .illustracion {
    width: 200px; }
  .logoMercadoPago {
    width: 20%; }
  .botonDePedido {
    width: 110px;
    font-size: 12px; }
  .icon7 {
    font-size: 25px; }
  .dropdown {
    padding: 0;
    margin: 0;
    top: -60%; }
  .textoCyR {
    visibility: visible; }
  .imagenFondo {
    width: 25%; }
  .opciones4 {
    visibility: hidden; }
  .nombreLogo {
    width: 50%; }
  .footer-c {
    text-align: end; }
  .lugar {
    text-align: start; } }

@media (min-width: 992px) {
  header {
    font-size: 12px; }
  .header_menu {
    font-size: 15px;
    visibility: hidden; }
  footer {
    font-size: 14px; }
  .illustracion {
    width: 300px; }
  .logoMercadoPago {
    width: 13%; }
  .botonDePedido {
    width: 120px;
    font-size: 12px; }
  .dropdown {
    padding: 0;
    margin: 0;
    top: -60%; }
  .imagenFondo {
    width: 20%; }
  .footer-c {
    text-align: end; }
  .lugar {
    text-align: start; } }

@media (min-width: 1200px) {
  header {
    font-size: 15px; }
  .header_menu {
    visibility: visible; }
  .dropdown {
    padding: 0;
    margin: 0;
    top: -60%;
    visibility: hidden; }
  .imagenFondo {
    width: 15%; }
  .footer-c {
    text-align: end; }
  .lugar {
    text-align: start; } }

@media (min-width: 1570px) {
  header {
    font-size: 15px; }
  .header_menu {
    font-size: 15px;
    visibility: visible; }
  .footer-c {
    text-align: end; }
  .lugar {
    text-align: start; }
  .textoIndx {
    font-size: 15px; }
  .illustracion {
    width: 400px; }
  .textoUbicacion {
    font-size: 15px; }
  .imagenKeep {
    width: 50%; }
  .logoMercadoPago {
    width: 10%; }
  .dropdown {
    visibility: hidden; }
  .imagenFondo {
    width: 10%; } }
