body {
  background: linear-gradient(to right, #B993D6, #8CA6DB); }

header {
  color: #6c757d; }

.pie {
  background-color: #f3c4fb;
  position: absolute;
  bottom: 0;
  width: 100%; }

.pie2 {
  background-color: #f3c4fb;
  position: relative;
  bottom: 0;
  width: 100%; }

* {
  margin: 0;
  padding: 0; }

.icon1, .iconNP, .iconQS, .iconCt {
  color: #fffcf7;
  font-size: 30px;
  right: 90%;
  top: 110%; }

.icon1:hover, .iconNP:hover, .iconQS:hover, .iconCt:hover {
  color: black;
  background-color: transparent; }

.icon2 {
  color: #fffcf7;
  font-size: 30px;
  top: 90%;
  left: 47%; }

.icon2:hover {
  color: black;
  background-color: transparent; }

.botonDeInicio, .opciones {
  color: #6c757d;
  background-color: #f3c4fb;
  border: none;
  font-size: 20px;
  box-shadow: none; }

.botonDeInicio, .opciones {
  background: transparent;
  box-shadow: none;
  border: none; }

.opciones {
  font-size: 15px;
  text-decoration: none; }

.opciones:hover {
  color: #fffcf7; }

.efecto {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.095);
  transition: all 300ms;
  background-color: transparent; }

.efecto:hover {
  transform: scale(1.05);
  opacity: 75%; }

.botonesBackHome, .botonQs, .botonCt {
  width: 150px;
  background-color: transparent;
  border: none; }

.botonesBackHome:hover, .botonQs:hover, .botonCt:hover {
  color: #283845;
  background-color: transparent; }

.botonesBackHomeContacto {
  width: 150px;
  background-color: transparent;
  border: none;
  top: 85%;
  position: absolute;
  left: 45.5%; }

.botonesBackHomeContacto:hover {
  color: #6fffe9; }

.illustracion {
  width: 500px;
  right: 10%;
  top: 25%; }

#galletita {
  transform: translate(10%);
  animation-name: movimiento;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; }

@keyframes movimiento {
  0% {
    transform: translateY(-8%) translateX(2%); }
  100% {
    transform: translateY(1%); } }

.lugar, .lugarNP, .lugarQS, .lugarCt {
  color: #6c757d;
  font-size: 15px;
  font-family: 'Barlow Condensed', sans-serif; }

.icon7 {
  color: #6c757d;
  font-size: 30px;
  transition: 0s 2ms ease;
  animation-name: avion;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; }

.icon7:hover {
  color: #ffccd5; }

@keyframes avion {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateY(50%) translateY(25%); } }

/*Condicional*/
.contenido3 {
  color: #6fffe9;
  font-size: 20px; }

.contenido2 {
  color: #ffccd5;
  text-transform: initial;
  font-size: 20px; }

.contenido4 {
  font-size: 12px;
  background: linear-gradient(to right, #009FFF, #ec2F4B); }

/*Each*/
.imagen1-variedad {
  width: 450px;
  height: 120px;
  background-image: url("../imagenes/imagen1.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  right: -2.5%;
  margin: 3px; }

.imagen2-variedad {
  width: 450px;
  height: 120px;
  background-image: url("../imagenes/imagen2.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  right: -2.5%;
  margin: 3px; }

.imagen3-variedad {
  width: 450px;
  height: 120px;
  background-image: url("../imagenes/imagen3.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  right: -2.5%;
  margin: 3px; }

.imagen4-variedad {
  width: 450px;
  height: 120px;
  background-image: url("../imagenes/imagen4.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  right: -2.5%;
  margin: 3px; }

/*Maps*/
.boton21-instagram {
  color: #6fffe9; }

.boton21-whatsapp {
  color: #ffccd5; }

.boton22-nombre {
  color: #6fffe9; }

.boton23-nombre {
  background-color: #d2b7e5; }

.boton23-email {
  background-color: #d2b7e5; }

.boton23-opciones {
  background-color: #d2b7e5; }

.boton23-comentario {
  background-color: #d2b7e5; }

/*Extend*/
.estiloDeTexto, .estiloDeTextoModificado {
  font-family: 'Rampart One', cursive;
  font-size: 15px;
  color: #6c757d; }

.estiloDeTextoModificado {
  font-size: 20px;
  color: #0353a4;
  cursor: pointer; }

.indexColor, .indexColorModificado, .indexColorModificado2 {
  font-size: 40px;
  color: black; }

.indexColorModificado {
  color: #df7373; }

.indexColorModificado2 {
  color: #6a994e;
  top: 21%; }

/*Mixins*/
.ubicacion1, .ubi {
  color: #7d8597;
  top: 35%;
  position: absolute;
  left: 5%; }

.ubi {
  font-size: 20px;
  font-family: "Abel", sans-serif; }

.opcionesMenu, .opcionesMenuIndex {
  color: #6fffe9; }

.opcionesMenuIndex {
  font-size: 20px;
  font-family: "Abel", sans-serif; }

/* */
.footer-s {
  color: #6c757d;
  top: 58%;
  font-family: 'Barlow Condensed', sans-serif; }

.footer-s:hover {
  color: #283845; }

.footer-Seguinos {
  color: #6c757d;
  font-size: 15px; }

.footer-c, .copiNP, .copiQS, .copiCt {
  color: #6c757d;
  font-size: 15px;
  font-family: 'Barlow Condensed', sans-serif; }

.iconNP {
  top: 194%; }

.lugarNP {
  top: 197%; }

.copiNP {
  top: 197%; }

.lugarQS {
  top: 50%; }

.iconQS {
  top: 11%; }

.copiQS {
  top: 50%; }

.botonQs {
  top: 20%;
  position: relative; }

.lugarCt {
  top: 50%; }

.iconCt {
  top: 11%; }

.copiCt {
  top: 50%; }

.botonCt {
  top: 90.5%;
  position: absolute; }

.categorias-np {
  cursor: pointer; }

.texto, .textoCyR {
  color: #6c757d; }

.texto:hover, .textoCyR:hover {
  color: #283845; }

.header_menu {
  color: #6c757d;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif; }

.header_menu:hover {
  color: white; }

.fondo {
  background-color: #f3c4fb; }

.fondo2 {
  background-image: url(../imagenes/macarons.jpg);
  background-size: cover; }

.fondo3 {
  background-image: url(../imagenes/masitas.jpg);
  background-size: cover; }

.fondo4 {
  background-image: url(../imagenes/pasteleriajpg.jpg);
  background-size: cover; }

.fondo5 {
  background-image: url(../imagenes/reposteria3.jpg);
  background-size: cover; }

.fuente {
  font-family: 'Noto Sans', sans-serif; }

.botonDePedido {
  background-color: #283845;
  border: none;
  width: 150px;
  transition: 0 5ms ease; }

.botonDePedido:hover {
  color: #283845;
  background-color: transparent; }

.botonDeSi {
  background-color: #283845;
  color: #6c757d; }

.botonDeSi:hover {
  color: #6fffe9;
  background-color: #283845; }

.botonDeNo {
  background-color: #283845;
  color: #6c757d;
  border: none; }

.botonDeNo:hover {
  color: #6fffe9;
  background-color: #283845; }

.botonEnviar {
  background-color: transparent; }

.efectoTexto:hover {
  color: #ffccd5;
  cursor: pointer; }

.imagenes-index {
  transition: all 300ms;
  cursor: pointer; }

.imagenes-index:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #ecbcfd; }

.card {
  background-color: #ecbcfd; }

.textoCategorias {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #283845; }

.textoCategorias:hover {
  color: #fffcf7; }

/*@media screen and (max-width: 576px){
    .texto{
        font-size: 10px;
        right: 35%;
        position: absolute;
    }
    .header_menu{
        font-size: 10px;
        justify-content: center;
        display: flex;
    }
    .consultas{
        font-size: 10px;
        right: 10%;
        top:3%;
        position: absolute;
    }
    .imagenesrs{
        height: 400px;
        width: 500px;
        right: 9%;
    }
    .imagenesrs2{
        height: 400px;
        width: 500px;
        left: 10%;
        position: absolute;
    }
    .lugar{
        top: 6%;
        font-size: 10px;
    }
    .footer-c{
        top:6%;
        font-size: 10px;
    }
    .footer-s{
        top:5%;
        right: 39%;
        font-size: 10px;
        position: absolute;
    }
    .icon1{
        top: 0%;
        font-size: 25px;
    }
    .icon2{
        top: 0%;
        font-size: 25px;
        right: 35%;
        position: absolute;
    }
    footer{
        height: 100%;
        position: absolute;
    }
}
@media screen and (max-width: 768px){
    .texto{
        font-size: 13px;
        right: 35%;
        position: absolute;
    }
    .header_menu{
        font-size: 13px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .consultas{
        font-size: 13px;
        right: 10%;
        top:3%;
        position: absolute;
    }
    .imagenesrs{
        height: 400px;
        width: 500px;
        right: 9%;
    }
    .imagenesrs2{
        height: 400px;
        width: 500px;
        left: 10%;
        position: absolute;
    }
    .lugar{
        top: 6%;
        font-size: 13px;
    }
    .footer-c{
        top:6%;
        font-size: 13px;
    }
    .footer-s{
        top:5%;
        right: 39%;
        font-size: 13px;
        position: absolute;
    }
    .icon1{
        top: 0%;
        font-size: 25px;
    }
    .icon2{
        top: 0%;
        font-size: 25px;
        right: 35%;
        position: absolute;
    }
    footer{
        height: 100%;
        position: absolute;
    }
}*/
@media (min-width: 350px) {
  .header_menu {
    font-size: 10px;
    text-align: center;
    visibility: hidden; }
  header {
    font-size: 10px; }
  .logoTarjeta {
    width: 48px; }
  .logoMercadoPago {
    width: 50%; }
  .lugar, .lugarNP, .lugarQS, .lugarCt {
    text-align: center; }
  .footer-c, .copiNP, .copiQS, .copiCt {
    text-align: center; }
  .textoIndx {
    font-size: 10px;
    text-align: justify; }
  .imagenes-index {
    width: 15%; }
  .imagenKeep {
    width: 50%;
    text-align: center; }
  .textoUbicacion {
    font-size: 12px; }
  .illustracion {
    width: 300px;
    text-align: center; }
  .logoMercadoPago {
    width: 12%; }
  .botonDePedido {
    width: 110px;
    font-size: 12px; }
  .icon7 {
    font-size: 25px; }
  .form-select {
    font-size: 15px; }
  .logoLg {
    width: 20%; }
  .dropdown {
    padding: 0;
    margin: 0;
    top: -80%;
    text-align: center; }
  .textoCyR {
    visibility: hidden; } }

@media (min-width: 500px) {
  .header_menu {
    font-size: 10px;
    text-align: center;
    visibility: hidden; }
  header {
    font-size: 10px; }
  .logoTarjeta {
    width: 48px; }
  .logoMercadoPago {
    width: 30%; }
  .lugar, .lugarNP, .lugarQS, .lugarCt {
    text-align: center; }
  .footer-c, .copiNP, .copiQS, .copiCt {
    text-align: center; }
  .textoIndx {
    font-size: 12px; }
  .imagenes-index {
    width: 15%; }
  .imagenKeep {
    width: 50%;
    text-align: center; }
  .textoUbicacion {
    font-size: 12px; }
  .illustracion {
    width: 300px;
    text-align: center; }
  .logoMercadoPago {
    width: 12%; }
  .botonDePedido {
    width: 110px;
    font-size: 12px; }
  .icon7 {
    font-size: 25px; }
  .form-select {
    font-size: 15px; }
  .logoLg {
    width: 20%; }
  .dropdown {
    padding: 0;
    margin: 0;
    top: -80%;
    text-align: center; }
  .textoCyR {
    visibility: hidden; } }

@media (min-width: 768px) {
  header {
    font-size: 12px; }
  .header_menu {
    font-size: 12px;
    visibility: hidden; }
  footer {
    font-size: 14px; }
  .logoTarjeta {
    width: 64px; }
  .illustracion {
    width: 200px; }
  .logoMercadoPago {
    width: 12%; }
  .botonDePedido {
    width: 110px;
    font-size: 12px; }
  .icon7 {
    font-size: 25px; }
  .dropdown {
    padding: 0;
    margin: 0;
    top: -60%; }
  .textoCyR {
    visibility: visible; } }

@media (min-width: 992px) {
  header {
    font-size: 12px; }
  .header_menu {
    font-size: 15px;
    visibility: hidden; }
  footer {
    font-size: 14px; }
  .illustracion {
    width: 300px; }
  .logoMercadoPago {
    width: 13%; }
  .botonDePedido {
    width: 120px;
    font-size: 12px; }
  .dropdown {
    padding: 0;
    margin: 0;
    top: -60%; } }

@media (min-width: 1200px) {
  header {
    font-size: 15px; }
  .header_menu {
    visibility: hidden; }
  .dropdown {
    padding: 0;
    margin: 0;
    top: -60%; } }

@media (min-width: 1570px) {
  header {
    font-size: 15px; }
  .header_menu {
    font-size: 15px;
    visibility: visible; }
  .footer-c, .copiNP, .copiQS, .copiCt {
    text-align: end; }
  .lugar, .lugarNP, .lugarQS, .lugarCt {
    text-align: start; }
  .textoIndx {
    font-size: 15px; }
  .illustracion {
    width: 400px; }
  .textoUbicacion {
    font-size: 15px; }
  .imagenKeep {
    width: 50%; }
  .logoMercadoPago {
    width: 10%; }
  .dropdown {
    visibility: hidden; } }
