@import "colores";
@import "estructura";
.texto{
    color: $color_texto;
}
.texto:hover{
    color: $color_botones;
}
.textoCyR{
    @extend .texto;
}
.header_menu{
    color:$color_texto;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}
.header_menu:hover{
    color: white;
}
.fondo{
    background-color: $color_header;
}
.fondo2{
    background-image: url(../imagenes/macarons.jpg);
    background-size: cover;
}
.fondo3{
    background-image: url(../imagenes/masitas.jpg);
    background-size: cover;
}
.fondo4{
    background-image: url(../imagenes/pasteleriajpg.jpg);
    background-size: cover;
}
.fondo5{
    background-image: url(../imagenes/reposteria3.jpg);
    background-size: cover;
}
.fuente{
    font-family: 'Noto Sans', sans-serif;
}
.botonDePedido{
    background-color: $color_botones;
    border: none;
    width: 150px; 
    transition: 0 5ms ease;
}
.botonDePedido:hover{
    color: $color_botones;
    background-color: transparent;
}
.botonDeSi{
    background-color: $color_botones;
    color: $color_texto;
}
.botonDeSi:hover{
    color:$color_letra_botones;
    background-color: $color_botones;
}
.botonDeNo{
    background-color: $color_botones;
    color: $color_texto;
    border: none;
}
.botonDeNo:hover{
    color:$color_letra_botones;
    background-color: $color_botones;
}
.botonEnviar{
    background-color: transparent;
}
.efectoTexto:hover{
    color: $color_boton_enviar;
    cursor: pointer;
}
.imagenes-index{
    transition: all 300ms;
    cursor: pointer;
}
.imagenes-index:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #ecbcfd;
}
.card{
    background-color: #ecbcfd;
}
.textoCategorias{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: $color_wpp_ig;
}
.textoCategorias:hover{
    color: $color_wpp_ig;
}
/*@media screen and (max-width: 576px){
    .texto{
        font-size: 10px;
        right: 35%;
        position: absolute;
    }
    .header_menu{
        font-size: 10px;
        justify-content: center;
        display: flex;
    }
    .consultas{
        font-size: 10px;
        right: 10%;
        top:3%;
        position: absolute;
    }
    .imagenesrs{
        height: 400px;
        width: 500px;
        right: 9%;
    }
    .imagenesrs2{
        height: 400px;
        width: 500px;
        left: 10%;
        position: absolute;
    }
    .lugar{
        top: 6%;
        font-size: 10px;
    }
    .footer-c{
        top:6%;
        font-size: 10px;
    }
    .footer-s{
        top:5%;
        right: 39%;
        font-size: 10px;
        position: absolute;
    }
    .icon1{
        top: 0%;
        font-size: 25px;
    }
    .icon2{
        top: 0%;
        font-size: 25px;
        right: 35%;
        position: absolute;
    }
    footer{
        height: 100%;
        position: absolute;
    }
}
@media screen and (max-width: 768px){
    .texto{
        font-size: 13px;
        right: 35%;
        position: absolute;
    }
    .header_menu{
        font-size: 13px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .consultas{
        font-size: 13px;
        right: 10%;
        top:3%;
        position: absolute;
    }
    .imagenesrs{
        height: 400px;
        width: 500px;
        right: 9%;
    }
    .imagenesrs2{
        height: 400px;
        width: 500px;
        left: 10%;
        position: absolute;
    }
    .lugar{
        top: 6%;
        font-size: 13px;
    }
    .footer-c{
        top:6%;
        font-size: 13px;
    }
    .footer-s{
        top:5%;
        right: 39%;
        font-size: 13px;
        position: absolute;
    }
    .icon1{
        top: 0%;
        font-size: 25px;
    }
    .icon2{
        top: 0%;
        font-size: 25px;
        right: 35%;
        position: absolute;
    }
    footer{
        height: 100%;
        position: absolute;
    }
}*/
@media (min-width:350px){
    .header_menu{
        font-size: 10px;
        text-align: center;
        visibility: hidden;
    }
    header{
        font-size: 10px;
    }
    .logoTarjeta{
        width: 48px;
    }
    .lugar{
        text-align: center;
    }
    .footer-c{
        text-align: center;
    }
    .textoIndx{
        font-size: 10px;
    }
    .imagenes-index{
    width: 15%;
    }
    .imagenKeep{
        width: 50%;
        text-align: center;
    }
    .textoUbicacion{
        font-size: 12px;
    }
    .illustracion{
        width: 300px;
        text-align: center;
    }
    .logoMercadoPago{
        width: 25%;
    }
    .botonDePedido{
        width: 110px;
        font-size: 12px;
    }
    .icon7{
        font-size: 25px;
    }
    .form-select{
        font-size: 15px;
    }
    .logoLg{
        width: 20%;
    }
    .dropdown{
        padding: 0;
        margin: 0;
        top: -80%;
        text-align: center;
    }
    .textoCyR{
        visibility: hidden;
    }
    .textoCategorias{
        font-size: 15px;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 500px) {
    .header_menu{
        font-size: 10px;
        text-align: center;
        visibility: hidden;
    }
    header{
        font-size: 10px;
    }
    .logoTarjeta{
        width: 48px;
    }
    .logoMercadoPago{
        width: 30%;
    }
    .lugar{
        text-align: center;
    }
    .footer-c{
        text-align: center;
    }
    .textoIndx{
        font-size: 12px;
    }
    .imagenes-index{
    width: 15%;
    }
    .imagenKeep{
        width: 50%;
        text-align: center;
    }
    .textoUbicacion{
        font-size: 12px;
    }
    .illustracion{
        width: 300px;
        text-align: center;
    }
    .logoMercadoPago{
        width: 25%;
    }
    .botonDePedido{
        width: 110px;
        font-size: 12px;
    }
    .icon7{
        font-size: 25px;
    }
    .form-select{
        font-size: 15px;
    }
    .logoLg{
        width: 20%;
    }
    .dropdown{
        padding: 0;
        margin: 0;
        top: -80%;
        text-align: center;
    }
    .textoCyR{
        visibility: hidden;
    }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    header{
        font-size: 12px;
    }
    .header_menu{
        font-size: 12px;
        visibility: hidden;
    }
    footer{
        font-size: 14px;
    }
    .logoTarjeta{
        width: 64px;
    }
    .illustracion{
        width: 200px;
    }
    .logoMercadoPago{
        width: 20%;
    }
    .botonDePedido{
        width: 110px;
        font-size: 12px;
    }
    .icon7{
        font-size: 25px;
    }
    .dropdown{
        padding: 0;
        margin: 0;
        top: -60%;
    }
    .textoCyR{
        visibility:visible;
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    header{
        font-size: 12px;
    }
    .header_menu{
        font-size: 15px;
        visibility: hidden;
    }
    footer{
        font-size: 14px;
    }
    .illustracion{
        width: 300px;
    }
    .logoMercadoPago{
        width: 13%;
    }
    .botonDePedido{
        width: 120px;
        font-size: 12px;
    }
    .dropdown{
        padding: 0;
        margin: 0;
        top: -60%;
    }
}

@media (min-width: 1200px){
    header{
        font-size: 15px;
    }
    .header_menu{
        visibility: hidden;
    }
    .dropdown{
        padding: 0;
        margin: 0;
        top: -60%;
    }

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1570px) { 
        header{
            font-size: 15px;
        }
        .header_menu{
            font-size: 15px;
            visibility: visible;
        }
        .footer-c{
            text-align: end;
        }
        .lugar{
            text-align: start;
        }
        .textoIndx{
            font-size: 15px;
        } 
        .illustracion{
            width: 400px;
        }
        .textoUbicacion{
            font-size: 15px;
        }
        .imagenKeep{
            width: 50%;
        }
        .logoMercadoPago{
            width: 10%;
        }
        .dropdown{
            visibility: hidden;
        }
}